body{
  background: #1d1e22;
}

#drum-container {
  margin: 3em auto;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-rows: 20% auto;
  background: lightgray;
  text-align: center;

  #drum-machine {
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: .5em;
    padding: .8em;
    background: gray;

    #pad-container {
      // border: 4px solid black;
      
      .drum-pad {
        height: 100%;
        width: 100%;
        font-size: 1.5em;
      }
    }
  }
}
