$mainColor: #0a0a10;
$drumMachColor: #3d3d5c;
$textColor: white;

* {
  font-family: Verdana, sans-serif;
  body {
    background: $mainColor;
  }
}

#drum-container {
  margin: 3em auto;
  max-width: 500px;
  height: 500px;
  display: grid;
  grid-template-rows: 20% auto;
  background: $drumMachColor;
  color: $textColor;
  text-align: center;
  h1 {
    margin: auto;
    font-weight: bold;
  }

  #drum-machine {
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    border-top: 4px solid $mainColor;
    grid-gap: 0.5em;
    padding: 0.8em;
    background: $drumMachColor;

    #pad-container {
      .drum-pad {
        height: 100%;
        width: 100%;
        border: none;
        border-radius: 0.5em;
        background: $textColor;
        font-size: 1.5em;
      }
      .pressed {
        background: $mainColor;
        color: $textColor;
      }
    }
  }
}
